<footer>
    <div class="row no-gutters padding text-center">
        <div class="col-12">
            <h5>ПОДПИШИСЬ НА НАШИ СОЦСЕТИ</h5>
        </div>
    </div>
    <hr>
    <div class="row no-gutters padding text-center">
        <div class="col-12 social padding">
            {% for item in site.data.social %}
                {% if item[1].footer-visible %}
                    <a href="{{ item[1].link }}" target="_blank"><i class="icons__item {{ item[1].style }}"></i></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>
