<footer>
    <div>
        <div class="row padding text-center">
            <div class="col-12">
                <h4>ПОДПИШИСЬ НА НАШИ СОЦСЕТИ</h4>
            </div>
        </div>
        <hr>
        <div class="row padding text-center">
            <div class="col-12 social padding">
                <a href="{{site.data.social.vk}}" target="_blank"><i class="fa fa-vk"></i></a>
                <a href="{{site.data.social.youtube}}" target="_blank"><i
                        class="icons__item fa fa-youtube"></i></a>
                <a href="{{site.data.social.instagram}}" target="_blank"><i class="icons__item fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
