---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "control-freak";
  src: url("../assets/fonts/CONTF___.ttf");
}

#a-title {
  font-family: "control-freak";
}

.current {
  color: green;
}
