---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "control-freak";
  src: url("../fonts/CONTF___.ttf");
}

.control-freak {
  font-family: "control-freak";
}

.control-freak h2 {
  font-family: "control-freak";
  font-size: 3em !important;
}

.navbar-brand img {
  width: 200px;
}

.navbar-nav a {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.4em;
}

.current {
  color: #b5e853;
}

.social a {
  color: #b5e853;
  font-size: 40px;
  padding: 20px;

}


.carousel-indicators {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  opacity: 50%;
  background-color: #666666;
}

.carousel-inner {
  max-height: 500px;
}

.carousel-item {
  max-height: inherit;
}

.carousel-item img {
  max-height: inherit;
}

.updates {
  display: block;
}


.pagination li {
  list-style-image: none !important;
}

.text-lab {
  color: #b5e853 !important;
}

div.embed-youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe.embed-youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
