---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "control-freak";
  src: url("../fonts/CONTF___.ttf");
}

.control-freak {
  font-family: "control-freak" ;
}

.control-freak h2 {
  font-family: "control-freak";
  font-size: 3em !important;
}

.navbar-brand img {
  width: 200px;
}

.navbar-nav a {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.4em;
}

.current {
  color: green;
}

.social a {
  color: $chelsea-cucumber;
  font-size: 40px;
  padding: 20px;

}

