<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    {% include {{ page.head | default: 'head_default.html' }} %}
</head>

<body>

<header>
    {% include {{ page.navigation | default: 'navigation_default.html' }} %}
    <div class="container-fluid">
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
</header>

<div class="container">
    <section id="main_content">
        {{ content }}
    </section>
</div>

{% include {{ page.scripts | default: 'scripts_default.html' }} %}
</body>

<br>
<br>

{% include {{ page.footer | default: 'footer_default.html' }} %}

</html>
