---
layout: default
---

<small>{{ page.date | date: "%d.%m.%Y" }}</small>
<h1>{{ page.title }}</h1>

{% if page.authors %}
    <p>авторы: {{ page.authors | array_to_sentence_string: 'и' }}</p>
{% elsif page.author %}
    <p>автор: {{ page.author | default: site.author }}</p>
{% endif %}

<hr>

{{ content }}

{% if page.tags != empty %}
    <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

{% assign path_elements = page.path | split: '/' %}
{% assign end_idx = path_elements.size| minus: 2 %}
<a href="{{ path_elements | slice: 0, end_idx | join: '/' | relative_url}}">К проекту</a>

