---
layout: default
---

<div>
    <p>Исторически, лаборатория не обладает доминирующим направлением работы.</p>
</div>

{% assign projects = '' | split: ',' %}
{% for page in site.pages %}
    {% unless page.dir contains 'page' %}
        {% assign projects = projects | push: page %}
    {% endunless %}
{% endfor %}

{% assign active_projects = projects | where: 'status', 'active' %}
{% assign finished_projects = projects | where: 'status', 'finish' %}
{% assign frozen_projects = projects | where: 'status', 'frozen' %}

{% include projects_iterator.html projects=active_projects header='На данный момент активно развиваются следующие проекты:'%}

{% include projects_iterator.html projects=finished_projects header='Закрыты/успешно завершены:'%}

{% include projects_iterator.html projects=frozen_projects header='Временно заморожены:'%}






