---
layout: default
---
<h1 class="control-freak">{{ page.title }}</h1>
{{ content }}

{% assign updates_dir = page.path | remove: 'index.md' | append: 'updates/' %}
{% assign updates = site.projects | where_exp: 'update', 'update.path contains updates_dir and update.aggregator != true' | sort: 'date', 'first' | reverse %}

{% if updates.size != 0 %}
    <h2>Последние обновления</h2>
    <ul>
        {% for update in updates limit: site.updates_limit %}
            <li>{{ update.date | date: "%d.%m.%Y" }} - <a href="{{ update.url | relative_url }}">{{ update.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{{ page.url | remove: 'index' | append: 'updates' | relative_url }}">Все обновления</a></p>
{% endif %}
